<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Stock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Фондовый рынок</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <%= link_to 'Лента новостей', bands_path, class: "dropdown-item" %>
          <%= link_to 'Обновить ленту', new_band_path, class: "dropdown-item" %>
          <a class="dropdown-item" href="#">Корзина</a>
          <a class="dropdown-item" href="#">Очистить корзину</a>
        </div>
      </li>
    </ul>
    
      <div class="form-inline my-2 my-lg-0">
        <%= form_with(url: :datereview_new_band, method: :get) do %>
          <%= date_field_tag 'datereview', @date_review %>
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Ввести дату</button>
      <% end %>
    </div>

  </div>
</nav>

